/*Base*/
:root {
	--main: #263238;
	--lightgray: #979797;
	--primary: #0E4DA4;
	--secondary: #1BB55C;
	--tertiary: #FFBB12;
	--white: #ffffff;
	--error: #E74C3C;
	--blue: #244da4;
	--lightblue: #4FB8FF;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Inter', sans-serif;
	margin: 0;
	color: #263238;
}

.container {
	margin-left: 80px;
	padding-top: 108px;
	padding-bottom: 50px;
}

.heading {
	font-weight: 600;
	font-size: 34px;
	letter-spacing: 0.25px;
	color: var(--lightgray);
	padding-top: 108px;
}

.no-padding {
	padding: 0;
}

/*navigation*/
header {
	width: 100%;
	padding: 20px 80px;
	background: rgba(151, 151, 151, 0.4);
}

.nav {
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.nav .nav__link {
	text-decoration: none;
	font-size: 18px;
	font-weight: 500;
	padding: 20px;
	color: var(--main);
}

.nav .nav__link:hover {
	color: var(--secondary);
	cursor: pointer;
	text-decoration: underline;
}
