.btn {
	background: var(--primary);
	border: none;
	color: var(--white);
	border-radius: 8px;
	transition: 0.3s ease;
	font-family: 'Inter', sans-serif;
}

/*add icon button*/
.btn__add {
	width: 56px;
	height: 56px;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(0, 0, 0, 0.08), 0px 1px 12px rgba(0, 0, 0, 0.04);
	border-radius: 24px;
	background: var(----white);
	border: none;
	margin-right: 32px;
	color: var(--lightgray);
	font-size: 14px;
}

.btn__add:last-of-type {
	margin-right: 0;
}

/*edit icon button with  stroke*/
.btn__edit {
	font-size: 18px;
	width: 40px;
	height: 40px;
	color: var(--white);
	margin-right: 32px;
	background: none;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.12), 0px 1px 8px rgba(0, 0, 0, 0.1);
}

.btn__edit:last-of-type {
	margin-right: 0;
}

.btn-outline-gray {
	border: 1px solid rgba(38, 40, 56, 0.16);
	color: var(--lightgray);
	box-shadow: none;
	cursor: pointer;
}

.btn-outline-gray:hover {
	color: var(--white);
	background: var(--lightgray);
	cursor: pointer;
}

.btn-outline-primary {
	text-decoration: none;
	border: 1px solid var(--primary);
	box-shadow: none;
	color: var(--primary);
	background: none;
}

.btn-outline-primary:hover {
	color: var(--white);
	background: var(--primary);
	cursor: pointer;
}

.btn-outline-error {
	text-decoration: none;
	border: 1px solid var(--error);
	color: var(--error);
	box-shadow: none;
}

.btn-outline-error:hover {
	color: var(--white);
	background: var(--error);
	cursor: pointer;
}

.btn-outline-secondary {
	text-decoration: none;
	border: 1px solid var(--secondary);
	color: var(--secondary);
	box-shadow: none;
}

.btn-outline-secondary:hover {
	color: var(--white);
	cursor: pointer;
	background: var(--secondary);
}

.btn__edit--fill {
	border: none;
}

/*button bg color*/
.btn-black {
	background: var(--main);
	color: var(--white);
}

.btn-secondary {
	background: var(--secondary);
	color: var(--white);
}

.btn-error {
	background: var(--error);
	color: var(--white);
}

.btn-primary {
	background: var(--primary);
	color: var(--white);
}

.btn-gray {
	background: var(--white);
	color: var(--lightgray);
}

.btn__add:hover {
	background: var(--lightgray);
	color: var(--white);
}

.btn-black:hover, .btn-secondary:hover, .btn-error:hover, .btn-primary:hover, .btn__add:hover {
	cursor: pointer;
	opacity: 0.8;
}

.btn-gray:hover {
	background: var(--lightgray);
	color: white;
	cursor: pointer;
}

.btn--submit {
	width: 100%;
	height: 78px;
	border-radius: 16px;
	background: var(--white);
	border: 2px solid rgba(151, 151, 151, 0.4);
	color: var(--primary);
	font-weight: 600;
	font-size: 20px;
}

.btn--submit:hover {
	border: none;
	cursor: pointer;
	border: 2px solid var(--primary);
}

.no-style {
	background: none;
	border: none;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.75px;
	font-family: 'Inter';
	padding: 32px 0;
	color: var(--main);
}

.btn__container {
	position: relative;
	font-weight: 600;
	font-size: 20px;
	padding: 12px 0;
	width: 344px;
	height: 56px;
	background: var(--white);
	color: var(--main);
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.12), 0px 1px 8px rgba(0, 0, 0, 0.1);
}

.btn__container:last-of-type {
	margin-top: 40px;
}

.btn__container:hover {
	box-shadow: 0 0 0 1px rgb(0, 0, 0, 0.4);
	cursor: pointer;
}

.btn__container .icon {
	color: var(--lightgray);
	font-size: 16px;
}

.btn__container .container__left, .btn__container .container__right {
	position: absolute;
	top: 20px;
}

.btn__container .container__left {
	left: 32px;
}

.btn__container .container__right {
	right: 32px;
}

.btn__container:last-of-type {
	display: block;
}

.button__group {
	margin-top: 132px;
}

.button__editgrp {
	margin: 64px 8px;
}

.buttons__edit {
	display: flex;
}

.buttons__edit:last-of-type {
	margin-top: 48px;
}
