/*Cards*/
.cards {
	margin-bottom: 40px;
	background: var(--white);
	margin-bottom: 40px;
	color: var(--main);
	width: 360px;
	padding: 16px;
	border-radius: 12px;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(0, 0, 0, 0.08), 0px 1px 12px rgba(0, 0, 0, 0.04);
}

.cards .cards__heading {
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 8px;
	line-height: 29px;
	letter-spacing: 0.001em;
}

.cards .btn {
	display: block;
	width: 96px;
	padding: 12px 0;
	text-align: center;
	font-size: 14px;
	margin-top: 26px;
	transition: 0.3s ease;
}

.cards .cards__text {
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.005em;
}

/*card dark*/
.cards--dark {
	background: var(--primary);
	color: white;
}

.cards--dark .btn-outline-primary {
	border: 1px solid var(--white);
	color: var(--white);
	background: none;
}

.cards--dark .btn-outline-primary:hover {
	background: var(--white);
	color: var(--primary);
	cursor: pointer;
}

/*card contain*/
.cards--contain {
	display: flex;
	gap: 16px;
}

.cards--contain .cards__content .cards__heading {
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 0.01em;
	margin: 0;
}

.cards--contain .cards__content .cards__text {
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.005em;
	padding: 8px 0;
}

.cards--contain .cards__content .cards__time {
	font-size: 12px;
	line-height: 16px;
	color: rgba(38, 50, 58, 0.54);
}

/*card image*/
.cards--image {
	width: 168px;
	padding: 0;
}

.cards--image .cards__img, .cards--imagetext .cards__img {
	width: 168px;
	height: 168px;
	object-fit: cover;
}

.cards--image .cards__body {
	background: var(--white);
	color: var(--main);
	border-radius: 0px 0px 4px 4px;
	padding: 16px;
}

.cards--image .cards__body .cards__heading {
	font-weight: 600;
	font-size: 20px;
	letter-spacing: 0.15px;
	margin: 0;
}

.cards--image .cards__body .cards__text {
	padding-top: 4px;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 0.15px;
	color: rgba(38, 50, 58, 0.54);
	line-height: 20px;
}

/*card imagetext*/
.cards--imagetext {
	padding: 0;
	height: 168px;
	width: 168px;
	border-radius: 4px;
}

.cards--imagetext .cards__body {
	position: relative;
	bottom: 80px;
	padding: 16px;
	color: var(--white);
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
	background-blend-mode: multiply;
}

.cards--imagetext .cards__body .cards__heading {
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 0.1px;
	margin: 0;
}

.cards--imagetext .cards__body .cards__text {
	font-weight: 500;
	font-size: 12px;
}

/*card status*/
.cards--status .cards__profile {
	display: flex;
	align-items: center;
}

.cards--status .cards__profile .cards__img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
}

.cards--status .profile-name {
	margin-left: 16px;
	margin-right: 107px;
}

.cards--status .cards__profile .cards__heading {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.01em;
	margin: 0;
	font-weight: normal;
}

.cards--status .cards__profile .profile-name .card__review {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.005em;
}

.cards--status form {
	display: flex;
	align-items: center;
	gap: 26px;
}

.cards--status .cards__icon {
	text-decoration: none;
}

.cards--status .cards__icon label:hover {
	cursor: pointer;
}

.card--status .cards__icon input#dislike:checked  + label .icon-dislike:before {
	color: var(--primary);
}

.card--status .cards__icon input#like:checked + label .icon-like:before {
	color: var(--primary);
}

.cards--status form label {
	color: var(--lightgray);
}

.cards--status form input[type=checkbox] {
	display: none;
}

.cards--status .cards__time {
	display: flex;
	align-items: center;
	margin: 17px 0 16px;
}

.cards--status .cards__time .cards__rating {
	display: flex;
	line-height: 16px;
	margin-right: 8.5px;
}

.cards__rating .icon {
	font-size: 12px;
	color: var(--lightgray);
}

.cards__rating .icon-secondary {
	color: var(--secondary);
}

.cards--status .cards__time .cards__duration {
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
}

.cards--blackimg {
	display: flex;
	gap: 20px;
	background: var(--main);
	color: white;
}

.cards--blackimg .cards__img {
	width: 96px;
	height: 136px;
	object-fit: cover;
	border-radius: 8px;
}

.cards--blackimg .btn-outline-primary {
	border: 1px solid var(--white);
	color: var(--white);
}

.cards--blackimg .btn-outline-primary:hover {
	background: var(--white);
	cursor: pointer;
	color: var(--main);
}

.cards__icon .icon:hover {
	color: var(--primary);
	opacity: 0.6;
}

/*CARDS LAYOUT*/
.main-card .heading {
	margin-bottom: 46px;
}

.main-layout {
	display: flex;
	gap: 64px;
}

.column-layout .sub-column-layout {
	display: flex;
	gap: 54px;
	align-items: flex-end;
}

.icon-active {
	color: var(--primary);
}
