/*colors
*/
.section-color {
	margin-bottom: 244px;
}

.group-layout {
	margin-top: 244px;
	display: grid;
	grid-template-columns: repeat(3, 168px);
	grid-gap: 24px;
}

.color {
	width: 168px;
	height: 168px;
	background: green;
	color: white;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.color--main {
	background: var(--main);
}

.color--primary {
	background: var(--primary);
}

.color--secondary {
	background: var(--secondary);
}

.color--tertiary {
	background: var(--tertiary);
}

.color--error {
	background: var(--error);
}

.color--white {
	background: var(--white);
	color: var(--main);
	border: 1px solid var(--lightgray);
}
