/*Forms*
-------*/
.form {
	font-size: 16px;
	display: grid;
	grid-template-columns: repeat(2, 250px);
	grid-gap: 104px;
}

.form__groups {
	position: relative;
	margin-bottom: 17px;
}

.form__label {
	font-size: 12px;
	font-weight: 500;
	position: absolute;
	top: -13%;
	left: 5%;
	background: white;
	padding: 0 2px;
}

.form__label--radio, .form__label--check {
	position: relative;
	top: 0%;
	left: 0;
	background: none;
	padding: 0;
	font-size: 16px;
	font-weight: 400;
	padding-left: 53px;
	cursor: pointer;
}

.form__input {
	width: 232px;
	height: 56px;
	border: 1px solid rgba(151, 151, 151, 0.16);
	border-radius: 8px;
	padding: 10px 12px;
}

.form__input--template {
	width: 100%;
	height: 73.33px;
	border-radius: 5.33333px 5.33333px 0px 0px;
	background: rgba(151, 151, 151, 0.06);
	border-bottom: 2px solid rgba(38, 50, 56, 0.38);
	border-top: none;
	border-right: none;
	border-left: none;
	font-size: 16px;
	padding: 34px 16px 12px;
}

.form__label--template {
	font-size: 16px;
	font-weight: 400;
	position: relative;
	top: -48%;
	left: 16px;
	background: none;
	padding: 0 2px;
	transition: 0.3s ease;
}

.form__input:focus-visible {
	outline: none;
}

.form__input:focus {
	box-shadow: 0 0 0 1px var(--secondary);
	border: 1px solid var(--secondary);
}

.form__input:focus ~ label.form__label {
	color: var(--secondary);
}

.form__input--template:focus {
	box-shadow: none;
	border-bottom: 2px solid var(--lightblue);
	background: rgba(79, 184, 255, 0.06);
	border-top: none;
	border-right: none;
	border-left: none;
}

.form__input--template::placeholder {
	color: rgba(79, 184, 255, 0.06);
}

input.form__input--template:focus ~ label.form__label--template, input.form__input--template:active ~ label.form__label--template, input.form__input--template:not(:placeholder-shown)  ~ label.form__label--template {
	color: var(--lightblue);
	font-size: 12px;
	transform: translate(-2%, -90%);
}

.form__checkbox {
	width: 18px;
	height: 18px;
	border: 2px solid var(--lightgray);
	opacity: 0;
	position: absolute;
}

.form__checkbox + label:before {
	content: '';
	height: 16px;
	width: 16px;
	display: inline-block;
	position: absolute;
	left: 0;
	border-radius: 2px;
	border: 2px solid #DADADA;
	top: 0;
}

.form__checkbox:checked + label:before {
	background: #244da4;
	border-color: var(--primary);
	box-shadow: 0 0 0 10px rgba(14, 77, 164, 0.1);
}

.form__checkbox + label:after {
	content: '';
	display: inline-block;
	position: absolute;
	left: 0px;
	top: 0px;
	opacity: 0;
	background: url('../images/tick.svg');
	background-size: 100%;
	width: 20px;
	height: 20px;
}

.form__checkbox:checked + label:after {
	opacity: 1;
}

.form__checkbox:checked {
	border: 1px solid var(--primary);
	border-radius: 16px;
	box-shadow: 0 0 0 9px rgba(12, 77, 164, 0.1);
}

.form__checkbox:checked ~  label.form__label, .form__radio:checked ~  label.form__label {
	color: var(--primary);
	font-weight: 600;
}

label.form__label.form__label--check:hover:before, label.form__label.form__label--radio:hover:before {
	border: 2px solid var(--primary);
}

.form__radio {
	width: 16px;
	height: 16px;
	border: 2px solid var(--lightgray);
	margin-right: 35px;
	opacity: 0;
}

.form__radio + label:before {
	content: '';
	height: 16px;
	width: 16px;
	display: inline-block;
	position: absolute;
	left: 0;
	border-radius: 20px;
	border: 2px solid #DADADA;
}

.form__radio:checked + label:before {
	background: var(--white);
	border-color: var(--primary);
	box-shadow: 0 0 0 11px rgba(14, 77, 164, 0.1);
}

.form__radio + label:after {
	content: '';
	display: inline-block;
	position: absolute;
	left: 4px;
	top: 4px;
	opacity: 0;
	height: 12px;
	width: 12px;
	background: var(--primary);
	border-radius: 50%;
}

.form__radio:checked + label:after {
	opacity: 1;
}

.form__checkbox:checked {
	border: 1px solid var(--primary);
	border-radius: 16px;
	box-shadow: 0 0 0 9px rgba(12, 77, 164, 0.1);
}

.form__groups--center {
	margin-bottom: 28px;
	display: flex;
	align-items: center;
}

/*form profile section*/
.profile {
	display: flex;
	gap: 18px;
	align-items: center;
	margin-bottom: 16px;
}

.profile:last-of-type {
	margin-bottom: unset;
}

.profile--secondary {
	color: var(--secondary);
	font-weight: 600;
}

.profile--secondary .icon-add:before {
	position: relative;
	top: 2px;
}

.profile__box {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid var(--lightgray);
	padding: 10px;
	color: var(--lightgray);
	text-align: center;
}

.profile__box--secondary {
	background: rgba(27, 181, 92, 0.12);
	color: var(--secondary);
	border: none;
}

.profile .profile__name:hover {
	color: var(--secondary);
	cursor: pointer;
	text-decoration: underline;
}

.profile .profile__name:hover .icon {
	color: var(--white);
}

input {
	font-family: 'Inter', sans-serif;
}
