/*form-template*/
.template {
	width: 512px;
	height: 1024px;
	background: var(--secondary);
	margin: 50px;
	padding-top: 384px;
	border-radius: 10px;
}

.template__section {
	background: var(--white);
	box-shadow: 0px 1.33403px 5.33611px rgba(0, 0, 0, 0.01), 0px 5.33611px 10.6722px rgba(0, 0, 0, 0.02), 0px 1.33403px 16.0083px rgba(0, 0, 0, 0.12);
	color: var(--main);
	height: 640px;
	width: 100%;
	border-radius: 10px;
	padding: 42px 21px  21px;
}

.template__heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 10px 45px 10px;
}

.template__heading i {
	color: var(--lightgray);
	padding: 5px;
}

.template__heading h3 {
	margin: 0;
	padding: 5px 0;
	font-size: 21px;
	font-weight: 500;
}

.template__heading i:hover {
	cursor: pointer;
}

.form__fullname, .form__phone, .form__street, .form__location {
	margin-bottom: 31px;
}

.form__phone, .form__street, .form__city, .form__zip, .form__firstname, .form__lastname {
	position: relative;
}

.form__firstname label, .form__lastname label, .form__phone label, .form__street label, .form__city label, .form__zip label {
	position: absolute;
	top: 36.5%;
}

.form__fullname {
	display: flex;
	justify-content: space-between;
}

.form__fullname > div {
	width: 213.33px;
}

.form__location {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap: 21px;
}
