/*tables*/
.table__layout {
	width: 100%;
	border-collapse: collapse;
}

.table__layout .table__heading {
	height: 40px;
}

.table .table__heading .row-head {
	text-align: left;
	padding: 16px;
	height: 48px;
	font-weight: 500;
	font-size: 12px;
	color: #7B8395;
	background: rgba(240, 242, 244, 0.5);
	box-shadow: inset -1px 0px 0px rgba(198, 209, 221, 0.5);
}

.table .table__data .row-data {
	color: var(--main);
	font-size: 13px;
	padding: 12px 16px;
	background: var(--white);
	box-shadow: inset 0px -1px 0px rgb(198 209 221 / 50%), inset -1px 0px 0px rgb(198 209 221 / 50%);
}

.table-width-checkbox {
	text-align: center !important;
	width: 48px;
}

.table-width-name {
	width: 260px;
}

.table-width-phone {
	width: 172px;
}

.table-width-email {
	width: 290px;
}

.table-width-date, .table-width-company, .table-width-country {
	width: 190px;
}

.table-width-score {
	width: 100px;
}

.table-width-itemsperpage {
	width: 126px;
}

.table-width-result {
	width: 167px;
}

.table-width-page {
	width: 181px;
}

.previous-btn, .next-btn {
	width: 48px;
}

.table .table__checkbox {
	appearance: none;
}

.table__checkbox {
	width: 16px;
	height: 16px;
	background: white;
	border: 1px solid #B4B8C1;
	opacity: 0;
	position: absolute;
}

.table__checkbox + label:before {
	content: '';
	height: 12px;
	width: 12px;
	display: block;
	border: 2px solid #B4B8C1;
}

.table-width-checkbox label.form__label--check {
	padding-left: 0;
	display: block;
	width: 16px;
	height: 16px;
}

.table__checkbox:checked + label:before {
	background: var(--blue);
	border-color: var(--blue);
	box-shadow: 0 0 0 4px rgba(14, 77, 164, 0.1);
}

.table__checkbox + label:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	background-image: url('../images/tick.svg');
	background-size: 100%;
	width: 16px;
	height: 16px;
}

.table__checkbox:checked + label:after {
	opacity: 1;
}

.grid-bottom-footer {
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	border-right: 1px solid  rgb(198 221 221 / 50%);
	border-left: 1px solid  rgb(198 221 221 / 50%);
	border-bottom: 1px solid  rgb(198 221 221 / 50%);
}

.footer-per-page, .footer-page-select, .page-nav {
	display: flex;
	justify-content: center;
}

.page-select, .left, .right, .per-page, .page-num {
	padding: 16px;
	border-left: 1px solid  rgb(198 221 221 / 50%);
}

.page-num {
	border-right: 1px solid  rgb(198 221 221 / 50%);
}

.page-select select {
	border: none;
	font-size: 14px;
	font-family: 'Inter';
	padding: 0 10px;
	margin-right: 10px;
}

.page-select select:focus-visible {
	outline: none;
}

.per-page select {
	border: none;
	font-size: 14px;
	font-family: 'Inter';
	padding: 0 10px;
	margin-right: 10px;
}

.page-nav a {
	text-decoration: none;
	color: var(--main);
	font-size: 10px;
}

.table__data:hover  .row-data {
	background: rgba(224, 224, 224, 0.6);
}

.page-select select:hover, .per-page select:hover, .page-nav .left:hover, .page-nav .right:hover {
	cursor: pointer;
	background: rgb(198 221 221 / 50%);
	border-radius: 4px;
}
