h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	margin: 0;
	margin-bottom: 32px;
}

h1 {
	font-size: 96px;
	letter-spacing: -1.5px;
}

h2 {
	font-size: 60px;
}

h3 {
	font-size: 48px;
}

h4 {
	font-size: 34px;
}

h5 {
	font-size: 24px;
}

h6 {
	font-size: 20px;
}

p {
	margin: 0;
}

.strike {
	text-decoration: line-through;
	font-weight: 300;
}

.font-name {
	color: var(--lightgray);
	font-size: 34px;
	margin: 108px 0;
}

.subtitle {
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 0.2px;
}

.typo-subtitle {
	padding-top: 27px;
}

.sub-body {
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 0.5%;
}
