@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?2n3eju');
  src: url('fonts/icomoon.eot?2n3eju#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?2n3eju') format('truetype'), url('fonts/icomoon.woff?2n3eju') format('woff'), url('fonts/icomoon.svg?2n3eju#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {

  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e90d";
}

.icon-star-half:before {
  content: "\e909";
}

.icon-dislike:before {
  content: "\e900";
}

.icon-like:before {
  content: "\e901";
}

.icon-star-fill:before {
  content: "\e902";
}

.icon-star:before {
  content: "\e903";
}

.icon-left:before {
  content: "\e904";
}

.icon-line-arrow-down:before {
  content: "\e905";
}

.icon-pen:before {
  content: "\e906";
}

.icon-right:before {
  content: "\e907";
}

.icon-down:before {
  content: "\e908";
}

.icon-left-arrow:before {
  content: "\e90a";
}

.icon-user:before {
  content: "\e90b";
}

.icon-right-arrow:before {
  content: "\e90c";
}
